<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>メールアドレスを入力</h1>
    <!-- POSTメソッドにより/loginに対して入力内容を送信する -->
    <!-- テキストボックスの入力欄に初期表示文字を設定する-->
    <form method="POST" action="/login">
        <input placeholder="名前" name="username" type="text">
        <input placeholder="メール" name="email" type="text">
        <input value="送信" type="submit">
        
    </form>
    
</body>
</html>